
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Comprador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/historico.css">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"><a id="logo" href="index.html"> SimpleBuy</a></h1>

        </div>
    </header>
    


        <div class="content-historico">
            <a href="inicio-administrador.html" class="profile-link">
                <div class="profile">
                    <img src="../img/user-image.png" alt="">
    
                    <div class="img-name">
                        <h2>AndreVinni89</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>


        
            <h1>Histórico</h1>

            <table>
                <tr>
                    <th>Numero</th>
                    <th >Frete</th>
                    <th >Comprador</th>
                    <th >Fornecedor</th>
                    <th>Valor Total</th>
                    <th>Data Entrega</th>
                    <th>Mais informações</th>
                </tr>

                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                <tr>
                    <td>123</td>
                    <td >CIF</td>
                    <td >José Almeida</td>
                    <td >KASY</td>
                    <td>R$6875,29</td>
                    <td>18/08/2021</td>
                    <td class="last"><a href="info-of.html"><button class="generic-button"> Mais informações</button></a></td>
                </tr>
                

            </table>




        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="../img/icone-facebook.png" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="../img/icone-linkedin.png" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>