<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="tittle-header">SimpleBuy</h1>
    </header>
    
    <div class="container">
        <h1 class="tittle">SimpleBuy</h1>
        <div class="container-buttons">
            <button class="button">Login</button>
            <button class="button">Administrador</button>
        </div>    
    </div>
        
</body>
</html>