
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Comprador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/inicio-comprador.css">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"><a id="logo" href="index.html"> SimpleBuy</a></h1>

        </div>
    </header>
    


        <div class="content-administrador">
            <a href="inicio-administrador.html" class="profile-link">
                <div class="profile">
                    <img src="../img/user-image.png" alt="">
    
                    <div class="img-name">
                        <h2>AndreVinni89</h2>
                        <span>Comprador</span>
                    </div>
                </div>
            </a>


            <div class="menu">
                <a href="itens-pendentes-cotacao.html"><button class="generic-button">Itens pendentes de cotação</button></a>
                <a href="gerar-pedido.html"><button class="generic-button">Gerar Pedido</button></a>
                <a href="cadastrar-item.html"><button class="generic-button">Cadastrar item</button></a>
                <a href="historico-compras.html"><button class="generic-button">Histórico de compras</button></a>
                <a href="integrar-nota-fiscal.html"><button class="generic-button">Integrar nota fiscal</button></a>
                <a href="ofs-pendentes.html"><button class="generic-button">Ordens de fornecimento pendentes</button></a>
                <a href="cadastrar-fornecedor.html"><button class="generic-button">Cadastrar Fornecedor</button></a>
                <a href="index.html"><button class="generic-button">Sair</button></a>
            </div>
  

        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="../img/icone-facebook.png" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="../img/icone-linkedin.png" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>