{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Comprador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/aprovacoes-pendentes.css' %}">

</head>
<body>
    {% if of_aprovada %}
        <a href="/inicio-administrador/{{user.nomeUsuario}}/aprovacoes-pendentes" class="message-label">
            <div class="message" style="background-color: green;">
                <h1>OF: {{of_aprovada.id}}</h1>
                <h1>APROVADA!</h1>
            </div>
        </a>
    {% elif of_reprovada %}
        <a href="/inicio-administrador/{{user.nomeUsuario}}/aprovacoes-pendentes" class="message-label">
            <div class="message" style="background-color: red;">
                <h1>OF: {{of_reprovada.id}}</h1>
                <h1>REPROVADA!</h1>
            </div>
        </a>

    {% endif %}


    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"><a id="logo" href="index.html"> SimpleBuy</a></h1>

        </div>
    </header>
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">
                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>


        <div class="content-historico">


        
            <h1>Aprovações Pendentes</h1>

            <table>
                <tr>
                    <th>Numero</th>
                    <th>Situação</th>
                    <th >Comprador</th>
                    <th >Fornecedor</th>
                    <th>Valor Total</th>
                    <th>Mais informações</th>
                    <th>Aprovar</th>
                    <th>Reprovar</th>
                </tr>
                                   {% for of in ofs %}
                        <tr>
                            <td>{{of.id}}</td>
                            <td>{{of.situacao}}</td>
                            <td>{{of.comprador}}</td>
                            <td>{{of.fornecedor}}</td>
                            <td>Valor Total</td>
                            <td><a href="info-of/{{of.id}}">Mais informações</a></td>
                            <td><a href="aprovacoes-pendentes/aprovar/{{of.id}}"><button class="confirm-button">Aprovar</button></a></td>
                            <td class="last"><a href="aprovacoes-pendentes/reprovar/{{of.id}}"><button class="reject-button">Reprovar</button></a></td>
                        </tr>
                    {% endfor %}
                



            </table>




        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>