{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy</title>
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/contratar-plano.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="/index"> SimpleBuy</a></h1>
            <nav>
                <a href="/login">LOGIN</a>
            </nav>

        </div>

    </header>
    
        <div class="content-login roll-in-left">
            <h1 class="">CONHEÇA NOSSOS PLANOS</h1>
            <table>
                <tr>
                    <td></td>
                    <td >STARTER</td>
                    <td >STANDARD</td>
                    <td >PREMIUM</td>
                </tr>
                <tr>
                    <td>ACESSO A UMA GRANDE LISTA DE FORNECEDORES</td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                </tr>
                <tr>
                    <td>PODE CADASTRAR UM COMPRADOR</td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                </tr>
                <tr>
                    <td>PODE CADASTRAR DE 1 A 3 COMPRADORES</td>
                    <td class="border"></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                </tr>
                <tr>
                    <td>PODE CADASTRAR COMPRADORES ILIMITADOS</td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"><img src="{% static 'img/v.jpg' %}" alt=""></td>
                </tr>
                <tr>
                    <td>PREÇO:</td>
                    <td>R$19,90/MÊS</td>
                    <td>R$39,90/MÊS</td>
                    <td>R$59,90/MÊS</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="radio" name="plano" id="starter"></td>
                    <td><input type="radio" name="plano" id="standard"></td>
                    <td><input type="radio" name="plano" id="premium"></td>
                </tr>
                    
            </table>
            <h3 id="err-message" class="err-message"></h3>
            <a href="" id="link"><button class="green-button">CONTRATAR</button></a>
        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
<script>
    let link = document.getElementById('link')

    link.addEventListener('click', verify_choice)


    function verify_choice(){
        let choices = document.getElementsByName('plano')
        if(choices[0].checked){
            link.href = 'registrar-administrador/1'
        }
        else if(choices[1].checked){
            link.href = 'registrar-administrador/2'
        }

        else if(choices[2].checked){
            link.href = 'registrar-administrador/3'
        }
    }

</script>
</html>