{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Administrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/editar-of.css' %}">

</head>
<body>
    {% if item_exclude and not of_exclude %}
        <a href="/inicio-comprador/{{user.nomeUsuario}}/editar-of/{{of.id}}" class="message-label">
            <div class="message" style="background-color: RED;">
                <h1>ITEM</h1>
                <h1>REMOVIDO COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %}
    {% if of_exclude %}
        <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="message-label">
            <div class="message" style="background-color: RED;">
                <h1>OF</h1>
                <h1>EXCLUIDA COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %}

        {% if of_enviada %}
        <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="message-label">
            <div class="message" style="background-color: GREEN;">
                <h1>OF</h1>
                <h1>ENVIADA PARA APROVAÇÃO COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %}



    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="/index"> SimpleBuy</a></h1>

        </div>
    </header>
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">

                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>
           
            
            <div class="content-integrar-nota-fiscal">
                <h1>Editar OF</h1>
                <div class="fornecedor-info">
                    <div class="item">
                        <h2>Fornecedor</h2>
                        <h2>Numero OF</h2>
                    </div>
    
                    <div class="item">
                        <h3>{{of.fornecedor.nome}}</h3>
                        <h3>{{of.id}}</h3>
                    </div>
                </div>
    
                <div class="container-form">
                    <div class="container-item">
                        <h3>Código</h3>
                        <h3>Descrição</h3>
                        <h3>Valor Unitário</h3>
                        <h3>Quantidade</h3>
                    
                        <h3>Valor Total</h3>
                        <h3>IPI</h3>
                        <h3>ICMS</h3>
                        <h3>Frete</h3>
                        <h3>Data de entrega</h3>
                    </div>


                    {% for item in itens_of %}
                        <div class="container-item">
                            <input type="text" class="input-codigo" value="{{item.cod_item.id}}" disabled>
                            <input type="text" class="Descrição" value="{{item.cod_item.descricao}}" disabled>
                            <input type="text" class="Valor-unitário" value="R${{item.valor_unitario}}" disabled>
                            <input type="text" class="quantidade" value="{{item.quantidade}}" disabled>
                            <input type="text" class="valor-total" value="R${{item.valor}}" disabled>
                            <input type="text" class="ipi" value="{{item.ipi}}%" disabled>
                            <input type="text" class="icms" value="{{item.icms}}%" disabled>
                            <input type="text" class="frete"  value="{{item.frete}}" disabled>
                            <input type="text" class="data-entrega" value="{{item.dataEntrega}}"disabled>
                            <a href="exclude/{{item.id}}"><button class="reject-button">Excluir</button></a>
                        </div>
                    {% endfor %}
                </div>



                <div class="buttons-container">
                    <a href="enviar_aprovacao/{{of.id}}"><button class="generic-button-green">Enviar para aprovação</button></a>
                    <a href="exclude_of/{{of.id}}"><button class="generic-button-red">Excluir OF</button></a>
                </div>
            </div>

    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>