{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Administrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/gerar-pedido.css' %}">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="index"> SimpleBuy</a></h1>

        </div>
    </header>
       
            <a href="inicio-administrador" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">
    
                    <div class="img-name">
                        <h2>AndreVinni89</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>


            <div class="content-generate-order">

                <h1>GERAR PEDIDO</h1>
                
                <form action="POST">
    
                    <div class="container-form">
                        <div class="input-container">
                            <span>CÓDIGO:</span>
                            <input type="text" name="" id="">
                        </div>
        
                        <div class="input-container">
                            <span>Descrição:</span>
                            <input type="text" name="" id="">
                        </div>
        
                        <div class="input-container">
                            <span>Quantidade:</span>
                            <input type="text" name="" id="">
                        </div>
        
                        <div class="input-container">
                            <span>Data Entrega:</span>
                            <input type="text" name="" id="">
                        </div>

                        <div class="input-container">
                            <span>Valor Estimado:</span>
                            <input type="text" name="" id="">
                        </div>
    
                    </div>
                   
                    <button type="submit" class="green-button">ENVIAR</button>
                </form>
    
    
            </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>