{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Administrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/gerar-pedido.css' %}">

</head>
<body>
    {% if item_cotacao %}
        {% if user.plano > 0 %}
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="message-label">
                <div class="message">
                    <h1>PEDIDO DO ITEM: {{item_cotacao.cod_item.descricao}}</h1>
                    <h1>GERADO COM SUCESSO!</h1>
                </div>
            </a>
        {% else %}
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="message-label">
                <div class="message">
                    <h1>PEDIDO DO ITEM: {{item_cotacao.cod_item.descricao}}</h1>
                    <h1>GERADO COM SUCESSO!</h1>
                </div>
            </a>

        {% endif %}
    {% endif %}

    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="/index"> SimpleBuy</a></h1>

        </div>
    </header>

        {% if user.plano > 0 %}
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">

                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>
        {% else %}
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">

                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Comprador</span>
                    </div>
                </div>
            </a>
        {% endif %}

            <div class="content-generate-order">

                <h1>GERAR PEDIDO</h1>
                
                <form method="POST" action="/inicio-comprador/{{user.nomeUsuario}}/gerar-pedido/{{item.id}}">
                    {% csrf_token %}
                    <div class="container-form">
                        <div class="input-container">
                            <span>Procurar Item:</span>
                            <button type="button" class="generic-button"><a href="/inicio-comprador/{{user.nomeUsuario}}/gerar-pedido/selecionar-item" style="text-decoration:none; color: green;">Selecionar</a></button>
                        </div>

                        <div class="input-container">
                            <span>CÓDIGO:</span>
                            <input type="text" name="codigo" value="{{item.id}}" disabled >
                        </div>

                        <div class="input-container">
                            <span>Descrição:</span>
                            <input type="text" name="descricao" value="{{item.descricao}}" disabled>
                        </div>

                        <input type="hidden" name="codigo" value="{{item.id}}">

                        <div class="input-container">
                            <span>Quantidade:</span>
                            <input type="number" name="quantidade" id="qtd" >
                        </div>
        
                        <div class="input-container">
                            <span>Data Entrega:</span>
                            <input type="datetime-local" name="data-entrega">
                        </div>

                        <div class="input-container">
                            <span>Valor Estimado:</span>
                            <input type="text" name="" value="R${{valor_un}}" id="vlr_estimado" disabled>
                            <input type="hidden" value="{{valor_un}}" id="vlr_un">
                        </div>


    
                    </div>
                   
                    <button type="submit" class="green-button">ENVIAR</button>
                </form>
    
    
            </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>

<script src="{% static 'script/gerar_pedido.js' %}"></script>

</html>