{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Gerar cotação</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/gerar-cotacao.css' %}">

</head>
<body>

        {% if itens_of %}
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="message-label">
                <div class="message">
                    <h1>ITEM: {{itens_of.cod_item.descricao}}</h1>
                    <h1>ADICIONADO A OF {{of.id}}</h1>
                </div>
            </a>
        {% endif %}



    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="index.html"> SimpleBuy</a></h1>

        </div>
    </header>

        {% if user.plano > 0 %}
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">
                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>
        {% else %}
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">

                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Comprador</span>
                    </div>
                </div>
            </a>
        {% endif %}




            <form class="content-gerar-cotacao"  method="post" action="/inicio-comprador/{{user.nomeUsuario}}/gerar-cotacao/{{item_pendente_cotacao.id}}/{{fornecedor.id}}/{{of.id}}">
                {% csrf_token %}

                
                <h1>Gerar Cotação</h1>
                <h3 id="err-message" class="err-message"></h3>
                <div class="item-info">
                    <div class="item">
                        <h2>Cód</h2>
                        <h2>Descrição</h2>
                        <h2>Quantidade</h2>
                        <h2>Fornecedor</h2>
                    </div>

                    <div class="item">
                        <input type="text" value="{{item.id}}" disabled>
                        <input type="text" value="{{item.descricao}}" disabled>
                        <input type="text" value="{{quantidade}}" disabled>
                        <input type="text" value="{{fornecedor.nome}}" disabled>

                        <input type="hidden" value="{{item.id}}" name="item-id">
                        <input type="hidden" value="{{item.descricao}}" name="descricao">
                        <input type="hidden" value="{{quantidade}}" name="quantidade" id="qtd">
                        <input type="hidden" value="{{fornecedor.id}}" name="fornecedor" id="fornecedor">
                    </div>


                </div>



                
                <div class="container-form">
                    <div class="container-item">

                        {% if not fornecedor %}
                            <h3>Fornecedor</h3>
                        {% endif %}
                        <h3>Selecionar OF</h3>
                        <h3>Numero OF</h3>
                        <h3>Valor Unitário</h3>

                        <h3>Valor Total(S/IPT)</h3>
                        <h3>IPI</h3>
                        <h3>ICMS</h3>
                        <h3>Valor Total(C/IPT)</h3>
                        <h3>Frete</h3>

                        
                    </div>

                    <div class="container-item">
                        {% if not fornecedor %}
                            <a href="selecionar-fornecedor"><button type="button" class="generic-button">Selecionar</button></a>
                        {% endif %}
                                {% if ofs_disponiveis %}
                                    <a href="/inicio-comprador/{{user.nomeUsuario}}/gerar-cotacao/{{item_pendente_cotacao.id}}/{{fornecedor.id}}/selecionar-of/" class="link-container"><button type="button" class="generic-button">Selecionar</button></a>
                                {% elif not fornecedor%}
                                    <input type="text" value="SELECIONE O FORNECEDOR ANTES" disabled>
                                {% else %}
                                    <input type="text" value="SEM OFs, UMA NOVA SERÁ CRIADA!" disabled>
                                {% endif %}
                        <input type="text" class="numero-of" disabled value="{{of.id}}">

                        <input type="number" name="unitario" placeholder="R$" id="unitario">

                        <input type="text" name="vlr_total_s_ipt" disabled placeholder="R$" id="vlr_total_s_ipt">
                        <input type="number" name="ipi" placeholder="%" id="ipi">
                        <input type="number" name="icms" placeholder="%" id="icms">
                        <input type="text" name="vlr_total_c_ipt" disabled placeholder="R$" id="vlr_total_c_ipt">
                        <select name="frete">
                            <option value="cif">CIF</option>
                            <option value="fob">FOB</option>
                        </select>
                    </div>
                </div>


                <button type="submit" class="green-button" id="bt-submmit">Gerar</button>

            </form>





    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>

<script src="{% static 'script/gerar_cotacao.js' %}"></script>

</html>