{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Administrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/inicio-administrador.css' %}">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"><a id="logo" href="/index"> SimpleBuy</a></h1>

        </div>
    </header>
    


        <div class="content-administrador">
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">
    
                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>


            <div class="menu">
                <a href="registrar-comprador"><button class="generic-button">Cadastrar comprador</button></a>
                <a href="gerar-pedido/"><button class="generic-button">Solicitar Compra</button></a>
                <a href="cadastrar-item"><button class="generic-button">Cadastrar item</button></a>
                <a href="aprovacoes-pendentes"><button class="generic-button">Aprovações pendentes</button></a>
                <a href="integrar-nota-fiscal"><button class="generic-button">Integrar nota fiscal</button></a>
                <a href="historico-compras"><button class="generic-button">Histórico de compras</button></a>
                <a href="compradores-cadastrados"><button class="generic-button">Compradores cadastrados</button></a>
                <a href="/index"><button class="generic-button">Sair</button></a>
            </div>
        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>