{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy - Comprador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/itens-pendentes-cotacao.css' %}">

</head>
<body>
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"><a id="logo" href="/index"> SimpleBuy</a></h1>

        </div>
    </header>
    


        <div class="content-historico">
            <a href="/inicio-comprador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">

                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Comprador</span>
                    </div>
                </div>
            </a>

            <h1>Itens pendentes de cotação</h1>


           
            <table>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Classe</th>
                    <th>Quantidade</th>
                    <th>Solicitante</th>
                    <th>Fornecedores</th>
                    <th>Cadastrar Cotação</th>
                </tr>
                {% for item_pendente in itens_pendentes %}
                    <tr>
                        <td>{{item_pendente.cod_item.id}}</td>
                        <td >{{item_pendente.cod_item.descricao}}</td>
                        <td >{{item_pendente.cod_item.classe.nome}}</td>
                        <td >{{item_pendente.quantidade}}</td>
                        {% if item_pendente.solicitante_adm %}
                            <td >{{item_pendente.solicitante_adm}}</td>
                        {% else %}
                            <td >{{item_pendente.solicitante_comprador}}</td>
                        {% endif %}
                        <td><a href=lista-fornecedores/{{item_pendente.cod_item.classe.id}}><button class="generic-button">LISTA</button></a></td>
                        <td><a href="gerar-cotacao/{{item_pendente.id}}/"><button class="generic-button">Cadastrar</button></a></td>
                    </tr>
                {% endfor %}



             
            </table>




        </div>


    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
</html>