{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBuy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'style/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'style/registrar-empresa.css' %}">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    
</head>
<body>
    {% if err %}
        <a href="" class="message-label">
            <div class="message" style="background-color: red;">
                <h1>ERRO:</h1>
                <h1>{{err}}</h1>
            </div>
        </a>
    {% endif %}


    {% if comprador %}
        <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="message-label">
            <div class="message">
                <h1>COMPRADOR: {{comprador.nome}}</h1>
                <h1>CADASTRADO COM SUCESSO!</h1>
            </div>
        </a>
    {% endif %}
    <div class="box">

  
    <header>
        <div class="container-header">
            <h1 class="tittle-header"> <a id="logo" href="/index"> SimpleBuy</a></h1>

        </div>
    </header>
            <a href="/inicio-administrador/{{user.nomeUsuario}}/" class="profile-link">
                <div class="profile">
                    <img src="{% static 'img/user-image.png' %}" alt="">
    
                    <div class="img-name">
                        <h2>{{user.nomeUsuario}}</h2>
                        <span>Administrador</span>
                    </div>
                </div>
            </a>
    
        <div class="content-enterprise-register">

            <h1>REGISTRE PERFIL DE COMPRADOR</h1>

            <h3 id="err-message" class="err-message"></h3>
            
            <form method="POST" action="/inicio-administrador/{{user.nomeUsuario}}/registrar-comprador">

                {% csrf_token %}
                <div class="container-form">
                    <div class="input-container">
                        <span>Nome completo:</span>
                        <input type="text" name="complete_name" id="complete_name">
                    </div>

                    <div class="input-container">
                        <span>Nome usuário:</span>
                        <input type="text" name="user_name" id="user_name">
                    </div>

                    <div class="input-container">
                        <span>Email:</span>
                        <input type="text" name="email" id="email">
                    </div>

                    <div class="input-container">
                        <span>Senha:</span>
                        <input type="text" name="password" id="password">
                    </div>

                    <div class="input-container">
                        <span>Telefone:</span>
                        <input type="text" name="phone_number" id="phone_number">
                    </div>

                    <div class="input-container">
                        <span>Confirmar senha:</span>
                        <input type="text" name="confirm_password" id="confirm_password">
                    </div>
                </div>
                <button type="submit" class="green-button" id="bt-submmit">AVANÇAR</button>
            </form>

        </div>



    <footer>
        <p>Endereço: Rua Major Getafe, N° 8989</p>
        <p>Copyright (c) 2021 SimpleBuy - Todos os Direitos Reservados</p>
        <div class="rede">
            <img src="{% static 'img/icone-facebook.png' %}" alt="">
            <p><a href="https://facebook/SimpleBuy">/SimpleBuy</a></p>
        </div>
 

        <div class="rede">
            <img src="{% static 'img/icone-linkedin.png' %}" alt="">
            <p><a href="https://linkedin/SimpleBuy">/SimpleBuy</a></p>
        </div>
    </footer>
</div>
</body>
<script src="{% static 'script/register_adm.js' %}"></script>
</html>