.content-gerar-cotacao{
    width: 90vw;
    margin: auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    border: 1px solid black;
    border-radius: 10px;

    margin-top: 5vh;
    

}

.generic-button{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: .4s;

    width: auto;
}

.generic-button:hover{
    color: white;
    background-color: black;
}


.container-form{
    width: 95%;
}



.container-item{
    display: grid;
    text-align: center;
    
    grid-template-columns: 7% 10% 10% 10% 10% 10% 10% 18% 10% ;
    gap: 4px;

}


.container-item input{
    height: 5vh;
    border-radius: 8px;
}

.container-item select{
    height: 6vh;
    border-radius: 8px;
}

.container-item button{
    height: 6vh;
    border-radius: 8px;
}


.item-info{
    align-self: flex-start;
    margin-left: 30px;
    width: 90%;
}

.item{
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    column-gap: 2%;
}

.item input{
    height: 5vh;
    border-radius: 8px;
}

.link-container button{
    width: 100%;
}