.content-generate-order{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 40vh;
    border: 1px solid;
    margin-top: 10vh;
    width: 70%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form{
    
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: 12% 15% 25% 13% 15% 15%;
   
    column-gap: 10px;
    row-gap: 20px;
}

.container-form .input-container{
    display: flex;
    flex-direction: column;
    
}
.container-form .input-container input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.generic-button{
    height: 4.5vh;
    width: 90%;
    border: none;

    border-radius: 8px;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: .4s;

}

.generic-button:hover{
    background-color: black;
    color: white;
    border: none;

}
