.content-integrar-nota-fiscal{
    width: 90vw;
    margin: auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    border: 1px solid black;
    border-radius: 10px;

    margin-top: 3vh;
}

.generic-button{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: .4s;

    width: auto;
}

.generic-button:hover{
    color: white;
    background-color: black;
}


.container-form{
    margin-top: 3vh;
    width: 95%;
}



.container-item{
    display: grid;
    text-align: center;
    
    grid-template-columns: 8% 20% 8% 9% 9% 9% 8% 9% 9% 11% ;
    

}


.container-item input{
    height: 5vh;
    border-radius: 8px;
}

.container-item select{
    height: 6vh;
    border-radius: 8px;
}

.container-item button{
    height: 6vh;
    border-radius: 8px;
}

.fornecedor-info{
    align-self: flex-start;
    margin-left: 30px;
    width: 60%;
}

.item{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    text-align: center;
}

.fornecedor-info input{
    height: 3vh;
    border-radius: 8px;
}

.link-container button{
    width: 100%;
}