*{
    margin: 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    cursor: pointer;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(14, 13, 13);
    align-items: center;
    justify-content: space-center;
  

}

.container-header{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#logo{
    font-size: 2.5rem;
    color: white;

    font-family: 'Style Script', cursive;
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);

}

header a{
    color: white;
    background-color: rgba(240, 248, 255, 0);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    transition: .4s;

}

header a:hover{
    color: rgb(81, 81, 88);

}

header nav{
    width: 10vw;
    display: flex;
    justify-content: space-between;
}



.container{
    width: 100%;
    height: 862px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(19, 18, 18);
    background: url('../img/bg5.jpg') no-repeat;    

}

.container-2{
    width: 10vw;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(19, 18, 18);
    background: url('../img/bg24.jpg') no-repeat;    

}

.tittle{
    margin-bottom: 10rem;
    font-size: 10rem;
    color: white;
    font-family: 'Style Script', cursive;
    padding: 1rem;
    border-radius: 1.5rem;

    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.322), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);

}

.container-buttons{
    display: flex;
    width: 25vw;
    justify-content: space-between;
}

.button{
    height: 4rem;
    width: 10rem;
    background-color: rgb(48, 48, 48);
    color: white;
    border: 0;
    border-radius: .7rem;
    font-size: 1.5rem;

}

.bg-main{
    height: 30vh;
    background-color: white;
    text-align: center;
}

.bg-main .content{
    width: 80vw;
    margin: auto;
    padding-bottom: 10vh;
}

.green-button{
    height: 8vh;
    width: 15vw;
    border: none;
    background-color: rgb(2, 207, 2);
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: .5s;


}

.green-button:hover{

    background-color: rgba(2, 207, 2, 0.644);

}

.green-button a{
    text-decoration: none;
    color: white;
}


footer{
    margin-top: 150px;
    align-self: center;

    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 1.2rem;
}

footer a{
    text-decoration: none;
    color: white;
}

.rede{
    display: flex;
    justify-content: center;
}

.rede img{
    color: white;
    background-color: white;
    height: 20px;
    width: 20px;
}

.profile-link{
    align-self: flex-start;
    padding: 8px;
    display: flex;

    margin-left: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 1000px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);

}

.profile{
    align-self: flex-start;
  
    display: flex;



    padding: 5px;
}

.profile .img-name{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile img{
    width: 3rem;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.err-message{
    color: red;
    font_size: .8rem;
}

.message-label{
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.76);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.message{
    background-color: rgb(0, 0, 0);
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;


}


/* ----------------------------------------------
 * Generated by Animista on 2021-9-25 14:5:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  