.content-integrar-nota-fiscal{
    width: 90vw;
    margin: auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    border: 1px solid black;
    border-radius: 10px;

    margin-top: 2vh;
}

.generic-button{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: .4s;


    width: auto;
}

.generic-button:hover{
    color: white;
    background-color: black;
}


.container-form{
    width: 95%;
}








.container-item{
    display: grid;
    text-align: center;

    grid-template-columns: 9% 13% 10% 10% 10% 9% 9% 9% 10% 9% ;
}

.container-item input{
    height: 5vh;
    border-radius: 8px;
}

.container-item select{
    height: 6vh;
    border-radius: 8px;
}

.container-item button{
    height: 6vh;
    border-radius: 8px;
}

.fornecedor-info{
    align-self: flex-start;
    margin-left: 30px;
    width: 80%;
}

.item{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    column-gap: 2%;
}

.fornecedor-info input{
    height: 3vh;
    border-radius: 8px;
}

.link-container button{
    width: 100%;
}

.content-adicionar-item{
    width: 90vw;
    margin: auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    border: 1px solid black;
    border-radius: 10px;

    margin-top: 2vh;
}


.container-item-add{
    display: grid;
    text-align: center;
    grid-template-columns: 12% 8% 12% 10% 8% 9% 7% 7% 10% 10% 8%;
}

.container-item-add input{
    height: 5vh;
    border-radius: 8px;
}

.container-item-add select{
    height: 6vh;
    border-radius: 8px;
}

.container-item-add button{
    height: 6vh;
    border-radius: 8px;
}