.content-enterprise-register{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 60vh;
    border: 1px solid;
    margin-top: 10vh;
    width: 70%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form{
    
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
   
    column-gap: 30px;
    row-gap: 20px;
}

.container-form .input-container{
    display: flex;
    flex-direction: column;
    
}
.container-form .input-container input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.container-form .input-container select{
    width: 100%;
    height: 35px;
    border-radius: 10px;
}